{% extends "base.html" %} 

{% block content %}

{% include 'widgets/controls.html' %}

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3 left">
      <div id="accordion" style="width: 100%;">
        {% include 'polls/list.html' with questions=questions %}
      </div>
    </div>
   
    </div>
  </div>

<!-- Workaround for Plotly responsive scaling -->
<script>
var collapse = document.getElementsByClassName("js-accordion-collapse");
for (var i=0; i < collapse.length; i++){
  if (i != 0){
    collapse[i].classList.remove("show");
  }
}
</script>


{% endblock content %}