{% extends "base.html" %} 

{% block content %}
  <div class="container mt-n5">
    {% include 'widgets/controls.html' %}
    <div class="row">
      <div class="col-md-12 mt-3 left">
        <div id="accordion" style="width: 100%;">
          {% include 'polls/list.html' with questions=questions %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block inline_javascript %}
  <!-- Workaround for Plotly responsive scaling -->
  <script>
    var collapse = document.getElementsByClassName("js-accordion-collapse");
    for (var i=0; i < collapse.length; i++){
      if (i != 0){
        collapse[i].classList.remove("show");
      }
    }
  </script>
{% endblock inline_javascript %}