{% for question in questions %}

    <div class="card">
        {% include 'widgets/poll_header.html' %}
    
        <div id="collapse{{question.id}}" class="collapse show js-accordion-collapse" style="width: 100%;"
            aria-labelledby="heading{{question.id}}">
    
            <div class="card-body">
                <div id="js-vote-msg{{question.id}}"></div>
                {% include 'widgets/poll_form.html' %}  
                {% include 'widgets/poll_figure.html' %}    
            </div>
        </div>
    </div>
    
{% endfor %}