:root{
  --main-color: hsl(208, 100%, 32%);
  --main-color-lighter: hsl(208, 100%, 44%);
  --main-color-darker: hsl(208, 100%, 28%);
  --main-color-hover:hsl(208, 100%, 24%);
  --main-color-transparent30: hsla(208, 100%, 32%, 0.3);
  --main-color-transparent60: hsla(208, 100%, 32%, 0.6);
  --main-color-transparent80: hsla(208, 100%, 32%, 0.8); 
  --secondary-color: hsl(104, 80%, 44%);
  --secondary-color-lighter: hsl(104, 80%, 56%);
  --secondary-color-darker: hsl(104, 80%, 40%);
  --secondary-color-hover: hsl(104, 80%, 36%);
  --secondary-color-transparent30: hsla(104, 80%, 44%, 0.3);
  --light-grey-color-blue-tint: rgba(255, 255, 255, 0.95);
  --grey-color: hsl(208, 0%, 32%);
  --grey-color-lighter: hsl(208, 00%, 44%);
  --grey-color-darker: hsl(208, 00%, 28%);
  --grey-color-hover:hsl(208, 00%, 24%);
  --grey-color-transparent30: hsla(208, 00%, 32%, 0.3);
  --grey-color-transparent60: hsla(208, 00%, 32%, 0.6);
  --grey-color-transparent80: hsla(208, 00%, 32%, 0.8); 
  
}

* {
    border-radius: 0 !important;
    font-family: Roboto;
    /* box-shadow: none !important; */
  }

body {
  /* font-family: sans-serif; */
}

  .navbar-dark .navbar-nav .nav-link {
    color: white;
}



.lp-main-color{
  background-color: var(--main-color)!important;
}

.lp-main-color-darker{
  background-color: var(--main-color-hover)!important;
}

.side-background-color {
  background-color: var(--light-grey-color-blue-tint);
  /* background-color: var(--grey-color-transparent30); */
}

.font-weight-slightly-bold{
  font-weight: 500!important;
}

.card {
  box-shadow: none;
  border: none;
} 

.btn{
  box-shadow: none;
}

.lp-btn-control{
  padding-top: 12px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color);
  border: 2px solid var(--main-color)!important;
}

.lp-btn-control:hover{
  background-color: var(--main-color-transparent30);
  color:var(--main-color-darker);
}

.lp-btn-vote{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  width:80px;
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color); 
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.lp-btn-vote:hover{
  color: white;
  background-color: var(--secondary-color-lighter);
  border-color: var(--secondary-color-lighter); 
}

.lp-btn-vote:focus{
  box-shadow: 0 0 0 0.2rem var(--secondary-color-transparent30);
  background-color: var(--secondary-color-lighter);
  border-color: var(--secondary-color-lighter); 
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: box-shadow 250ms ease-in; */
  transition: transform 0.2s ease-in;
}

.card-img-top:hover
{
  /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); */
  transform: scale(1.015);
}


.article-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.article-heading{
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-title{
  font-weight: 500!important;
}

a.title-link{
  color: var(--dark);
}

a.title-link:hover, .all-posts-url:hover{
  color: var(--main-color-hover);
  text-decoration: none;
}



.lp-section-title {
  text-transform: uppercase;
  color: var(--grey-color-darker); 
  margin-bottom: 0;
  display: inline-block;
  font-weight: 700;
}

.lp-section-title-secondary {
  text-transform: uppercase;
  color: var(--grey-color);
  display: inline-block;
  font-weight: 500;
  opacity: 0.80;
}

.title-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}


.lp-title-wrap--line {
  border-bottom: 1.5px solid var(--grey-color-transparent30) ;
}

.all-posts-url {
  float: right;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--grey-color);
  font-size: 11px;
  line-height: 26px;
}

.navbar .container-page{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}
.container-page {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1280px){
 .container-page {
    max-width: 1248px;
    padding-left: 30px;
    padding-right: 30px;
}
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/* Remove X button from search field */
input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

/* Style buttons */
.lp-btn-search {
  background-color: var(--main-color-darker); 
  border: none; 
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
  line-height: 38px;
  width: 42px;
  height: 38px;
  text-align: center;
}

/* Darker background on mouse-over */
.lp-btn-search:hover {
  background-color: var(--main-color-hover);
}

.lp-btn-search:focus {
  outline: none;
}

.lp-form-control{
  border: none;
  color: white;
  background-color: var(--main-color-darker);
  background-clip: unset;
}

.lp-form-control:hover{
  background-color: var(--main-color-hover);
}

.lp-form-control::placeholder{
  color: white;
  opacity: 0.8;
}

.lp-form-control:active{
  box-shadow: 0 0 0 0;
  background-color: var(--main-color-hover);
  color:white;
}

.lp-form-control:focus{
  border: 0px!important;
  box-shadow: 0 0 0 0!important ;
  background-color: var(--main-color-hover);
  color:white;
}



/* BOOTSTRAP-SELECT DROP DOWN SEARCH BOX */

.lp-btn-form-control{
  color: var(--grey-color-darker);
  font-weight: 600;
  border-color: var(--grey-color); 
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.lp-btn-form-control:hover{
  color: var(--grey-color-darker);
  box-shadow: 0 0 0 0.2rem var(--grey-color-transparent30);
}

.lp-btn-form-control:focus{
  box-shadow: 0 0 0 0.2rem var(--grey-color-transparent30);
  outline: 0px auto -webkit-focus-ring-color!important;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover
 {
  color: var(--grey-color-transparent60);
} 

.bootstrap-select .dropdown-item.disabled, 
.bootstrap-select .dropdown-item:disabled {
  color: var(--grey-color-transparent60);
  pointer-events: none;
}

.bootstrap-select .dropdown-item.active, 
.bootstrap-select .dropdown-item:active {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--grey-color-transparent60);
}

.bootstrap-select .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--grey-color-transparent30);
}
.bootstrap-select .dropdown-item:focus {
  outline:none;
}

.bootstrap-select .form-control {
  border: 1px solid var(--grey-color-transparent30);
}
.bootstrap-select .form-control:focus {
  border: 1px solid var(--grey-color);
  box-shadow: 0 0 0 0.2rem var(--grey-color-transparent30);
}

.bootstrap-select .dropdown-menu{
  border: 1px solid var(--grey-color-transparent30);
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
}




.sidebar-top-position{
  top: 16px;
}

.border-1 {
  border-width:1px !important;
}

.border-0 {
  border-top-width:0px !important;
  border-right-width:0px !important;
  border-left-width:0px !important;
}

.svg-container{
  position: relative;
  width: 100% !important;
}


.carousel-indicators li{
  height: 3px;
  background-color: var(--grey-color-transparent60);
}





/* SOCIAL MEDIA SHARE BUTTONS */

.lp-social-button{
  font-size: 18px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 5px 2px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.lp-social-follow-button {
  font-size: 28px;
  line-height: 48px;
  width: 48px;
  height: 48px;
}

.lp-go2comments-button {
  font-size: 18px;
  width: fit-content;
  margin: 5px 0px;
}


.fa:hover {
    opacity: 0.8;
    color: white;
    text-decoration: none;
}

.fa-facebook-bg {
  background: #3B5998;
  color: white;
}

.fa-twitter-bg {
  background: #55ACEE;
  color: white;
}

.fa-reddit-bg {
  background: #ff5700;
  color: white;
}

.fa-angle-right,
.fa-angle-left {
  background: var(--grey-color-transparent30);
  color: white;
  line-height: 32px;
  width: 36px;
  height: 32px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.fa-search-bg {
  background: var(--main-color-darker);
  color: white;
  line-height: 38px;
  width: 42px;
  height: 38px;
  text-align: center;
}

.fa-comments {
  background: var(--secondary-color);
  color: white;
}

.fa-instagram-bg {
  color: white;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}




.site-footer
{
  background-color:var(--grey-color-darker);
  padding:35px 0 20px;
  font-size:15px;
  line-height:24px;
  color:var(--light-grey-color-blue-tint);
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: var(--light-grey-color-blue-tint);
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:var(--light-grey-color-blue-tint)
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: white;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:var(--grey-color-hover);
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  /* background-color:#eceeef;
  color:#818a91; */
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons .fa-facebook:hover, .social-icons .fa-twitter:hover, .social-icons .fa-reddit:hover {
  opacity: 1.0;
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#55ACEE;
}
.social-icons a.reddit:hover
{
  background-color:#ff5700;
}
.social-icons a.instagram:hover
{
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
