:root{
  --main-color: #fb3;
}

* {
    border-radius: 0 !important;
    /* box-shadow: none !important; */
  }

/* Sticky footer styles
-------------------------------------------------- */
 /* html {
    position: relative;
    min-height: 100%;
  }

body {
    min-height: 100%;
    margin-bottom: 80px;
    background-color: rgb(240, 240, 240);
  } */

/* .page-footer{
  margin-top: -20px;
  z-index: -1;
} */

.side-background-color {
  background-color: #f8f8f8;
}

.card {
  box-shadow: none;
} 

.btn{
  box-shadow: none;
}



.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.article-heading{
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-title{
  font-weight: 500!important;
}

a.title-link{
  color: var(--dark);
}

a.title-link:hover, .all-posts-url:hover{
  color: var(--main-color);
}

.section-title {
  text-transform: uppercase;
  color: var(--dark);
  letter-spacing: 0.04em;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 500;
}

.title-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
}

.title-wrap--line {
    /* border-bottom: 3px solid var(--gray); */
    padding-top: 0px;
    border-bottom: var(--main-color) solid 5px;
}

.all-posts-url {
  float: right;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #54555E;
  font-size: 11px;
  line-height: 26px;
}

.navbar .container-page{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-page {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1280px){
 .container-page {
    max-width: 1248px;
    padding-left: 30px;
    padding-right: 30px;
}
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

/* Style buttons */
.btn-search {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn-search:hover {
  color: rgba(255, 255, 255, 0.75);
}

.btn-search:focus {
  outline: none;
}

.box-search{
  border: 0px;
}

.box-search:active{
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) ;
  /* background-color: rgb(247, 247, 247); */
}

.box-search:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) ;
  /* background-color: rgb(247, 247, 247); */
}

.font-weight-less-bold{
  font-weight: 500!important;
}

/* DROP DOWN SEARCH BOX */

/* .bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover
 {
  color: rgb(235, 235, 235);
}  */

.dropdown-item.active, 
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgb(126, 126, 126);
}

.form-control:focus {
  border: 1px solid rgba(126, 126, 126, 0.5);

  box-shadow: 0 0 0 0.2rem rgba(126, 126, 126, 0.25);
}

.sidebar-top-position{
  top: 16px;
}

.border-1 {
  border-width:1px !important;
}

.border-0 {
  border-top-width:0px !important;
  border-right-width:0px !important;
  border-left-width:0px !important;
}

.svg-container{
  position: relative;
  width: 100% !important;
}