

      <!-- <div class="container mt-0 px-0"> -->
      <div class="row">
            <div class="col-md px-0">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
                <ol class="carousel-indicators">
                  <li  data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li  data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li  data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li  data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li  data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
        
                <div class="carousel-inner" role="listbox" >
                  {% for question in latest_question_list %}
                    {% for plot in question.plot_set.all %}
                      <div class="carousel-item active" id="car{{ forloop.parentloop.counter }}">
                        <div class="col-md" >
                          <div class="card my-3  px-5">
                            <div class="card-body">
                              <h2 class="card-title text-center title-wrap--line">{{question.question_text}}</h2>
                              <div id="plot-car{{question.id}}">
                                <script>
                                  const plotlyGraphCar{{ question.id }} = {{ plot.figure | safe }};
                                  var config = { responsive: true };
                                  //var scriptTag = document.scripts[document.scripts.length - 1];
                                  //var parentTag = scriptTag.parentNode;
                                  //console.log(parentTag.id);
                                  Plotly.newPlot("plot-car{{question.id}}", plotlyGraphCar{{ question.id }}.data, plotlyGraphCar{{ question.id }}.layout, config);                      
                                </script>
                              </div> 
                            </div>
                          </div>            
                        </div>
                      </div>
                    {% endfor %}
                  {% endfor %}
                <!-- Workaround for Plotly responsive scaling -->
                <script>
                  for (var i = 1; i < 6; i++) {
                    if (i != 1) {
                      var element = document.getElementById(`car${i}`);
                      element.classList.remove("active");
                    }
                  }
                </script>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon carousal-controls-style" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
        
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon carousal-controls-style" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
        
              </div>
            </div>
          </div>
      </div>
      <!-- </div> -->

