{% load static %}
{% load thumbnail %}

<div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
      {% if carousel_articles %}
        <div id="articles" class="carousel-item {% if not carousel_plots %} active {% endif %}">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md">
                  <div class="row">
                    <div class="col-md p-0">
                      {% with item=carousel_articles.0 %}
                        <a class="lp-car-post__layout" href="{% url 'post_detail' item.slug %}">
                          {% thumbnail item.image "x480" format="WEBP" as img %}
                                <img src="{{ img.url }}" class="lp-car-img-big" alt="...">
                          {% endthumbnail %}
                          <div class="carousel-caption p-0 pb-3">
                            <h3 class="card-title">{{item.title}}</h3>
                            <p class="card-text">{{ item.summary|safe|truncatechars:200}}</p>
                          </div>     
                        </a>
                      {% endwith %}
                    </div>
                  </div> 
                </div>
                {% if carousel_articles.1 %}
                  <div class="col-md-6">
                      <div class="row">
                        <div class="col-md p-0">
                          {% with item=carousel_articles.1 %}
                            <a class="lp-car-post__layout {% if carousel_articles|length > 2 %} lp-car-small {% endif %}" href="{% url 'post_detail' item.slug %}">
                                {% thumbnail item.image "x480" format="WEBP" as img %}
                                  <img src="{{ img.url }}" class="lp-car-img-big {% if carousel_articles|length > 2 %} lp-car-small {% endif %}" alt="...">
                                {% endthumbnail %}
                              <div class="carousel-caption p-0 pb-3">
                                {% if not carousel_articles|length > 2 %}
                                  <h3 class="card-title">{{item.title}}</h3>
                                  <p class="card-text">{{ item.summary|safe|truncatechars:200}}</p>
                                {% else %}
                                  <h3 class="card-title">{{item.title|truncatechars:60}}</h3>
                                {% endif %}  
                              </div>
                            </a>
                          {% endwith %}
                        </div>
                      </div>
                      {% if carousel_articles.2 %}
                        <div class="row">
                            <div class="col-md p-0">
                              {% with item=carousel_articles.2 %}
                                <a class="lp-car-post__layout lp-car-small" href="{% url 'post_detail' item.slug %}">
                                  {% thumbnail item.image "x480" format="WEBP" as img %}
                                    <img src="{{ img.url }}" class="lp-car-img-big lp-car-small" alt="...">
                                  {% endthumbnail %}
                                  <div class="carousel-caption p-0 pb-3">
                                    {% if not carousel_articles|length > 3 %}
                                      <h3 class="card-title">{{item.title|truncatechars:60}}</h3>
                                    {% else %}
                                      <h5 class="card-title">{{item.title|truncatechars:35}}</h5>
                                    {% endif %}
                                  </div>
                                </a>
                              {% endwith %} 
                            </div>
                            {% if carousel_articles.3 %}
                              <div class="col-md p-0">
                                {% with item=carousel_articles.3 %}
                                  <a class="lp-car-post__layout lp-car-small" href="{% url 'post_detail' item.slug %}">
                                    {% thumbnail item.image "x480" format="WEBP" as img %}
                                      <img src="{{ img.url }}" class="lp-car-img-big lp-car-small" alt="...">
                                    {% endthumbnail %}
                                    <div class="carousel-caption p-0 pb-3">
                                      <h5 class="card-title">{{item.title|truncatechars:35}}</h5>
                                    </div>
                                  </a>
                                {% endwith %}  
                              </div>
                            {% endif %}
                        </div>
                      {% endif %}
                  </div>
                {% endif %}
            </div>
          </div>
        </div>
      {% endif %}

      {% if carousel_plots %}
        <div id="plots" class="carousel-item active">
          <div class="container-fluid">
            <div class="row">
              <div class="{% if carousel_plots|length > 1 %} col-md-6 {% else %} col-md {% endif %} ">
                <div class="row">
                  <div class="col-md p-0">
                    {% with plot=carousel_plots.0 %}
                      <a href="{% url 'polls:detail' plot.question.id %}" class="lp-car-post__layout">
                        <div class="carousel-caption p-0 pb-3 pt-4">
                          <h3 class="card-title">{{plot.question.question_text}}</h3>
                        </div>
                        <div class="container  ">
                          <div id="plot-car{{plot.id}}">
                            <script>
                              const plotlyGraphCar{{ plot.id }} = {{ plot.figure | safe }};
                              plotlyGraphCar{{ plot.id }}.layout['height'] = 464;
                              plotlyGraphCar{{ plot.id }}.layout['yaxis'] = {autorange: true};
                              var config = { responsive: true, displayModeBar: false };
                              Plotly.react("plot-car{{plot.id}}", plotlyGraphCar{{ plot.id }}.data, plotlyGraphCar{{ plot.id }}.layout, config);
                            </script>
                          </div> 
                        </div>
                      </a>
                    {% endwith %}
                  </div>
                </div> 
              </div>
              {% if carousel_plots.1 %}
                <div class="col-md-6">
                    <div class="row">
                      <div class="col-md p-0">
                        {% with plot=carousel_plots.1 %}
                          <a href="{% url 'polls:detail' plot.question.id %}" class="lp-car-post__layout {% if carousel_plots|length > 2 %} lp-car-small {% endif %}">
                              <div class="carousel-caption p-0 pb-3 pt-4">
                                {% if carousel_plots|length > 2 %}
                                  <h4 class="card-title">{{plot.question.question_text}}</h4>
                                {% else %}
                                  <h3 class="card-title">{{plot.question.question_text}}</h3>
                                {% endif %}
                              </div>
                              <div class="container  ">
                              <div id="plot-car{{plot.id}}">
                                <script>
                                  const plotlyGraphCar{{ plot.id }} = {{ plot.figure | safe }};
                                  plotlyGraphCar{{ plot.id }}.layout['height'] = {% if carousel_plots|length > 2 %} 224 {% else %} 464 {% endif %};
                                  plotlyGraphCar{{ plot.id }}.layout['yaxis'] = {autorange: true};
                                  var config = { responsive: true, displayModeBar: false };
                                  Plotly.react("plot-car{{plot.id}}", plotlyGraphCar{{ plot.id }}.data, plotlyGraphCar{{ plot.id }}.layout, config);
                                </script>
                              </div> 
                            </div>
                          </a>
                        {% endwith %}
                      </div>
                    </div>
                    {% if carousel_plots.2 %}
                      <div class="row">
                          <div class="{% if carousel_plots|length > 3 %} col-md-6 {% else %} col-md {% endif %} p-0">
                            {% with plot=carousel_plots.2 %}
                              <a href="{% url 'polls:detail' plot.question.id %}" class="lp-car-post__layout lp-car-small">
                                  <div class="carousel-caption p-0 pb-3 pt-4">
                                    <h4 class="card-title">{{plot.question.question_text}}</h4>
                                  </div>
                                  <div class="container  ">
                                  <div id="plot-car{{plot.id}}">
                                    <script>
                                      const plotlyGraphCar{{ plot.id }} = {{ plot.figure | safe }};
                                      plotlyGraphCar{{ plot.id }}.layout['height'] =  224;
                                      plotlyGraphCar{{ plot.id }}.layout['yaxis'] = {autorange: true};
                                      var config = { responsive: true, displayModeBar: false };
                                      Plotly.react("plot-car{{plot.id}}", plotlyGraphCar{{ plot.id }}.data, plotlyGraphCar{{ plot.id }}.layout, config);
                                    </script>
                                  </div> 
                                </div>
                              </a>
                            {% endwith %} 
                          </div>
                          {% if carousel_plots.3 %}
                            <div class="col-md-6 p-0">
                              {% with plot=carousel_plots.3 %}
                                <a href="{% url 'polls:detail' plot.question.id %}" class="lp-car-post__layout lp-car-small">
                                    <div class="carousel-caption p-0 pb-3 pt-4">
                                      <h4 class="card-title">{{plot.question.question_text}}</h4>
                                    </div>
                                    <div class="container  ">
                                    <div id="plot-car{{plot.id}}">
                                      <script>
                                        const plotlyGraphCar{{ plot.id }} = {{ plot.figure | safe }};
                                        plotlyGraphCar{{ plot.id }}.layout['height'] =  224;
                                        plotlyGraphCar{{ plot.id }}.layout['yaxis'] = {autorange: true};
                                        var config = { responsive: true, displayModeBar: false };
                                        Plotly.react("plot-car{{plot.id}}", plotlyGraphCar{{ plot.id }}.data, plotlyGraphCar{{ plot.id }}.layout, config);
                                      </script>
                                    </div> 
                                  </div>
                                </a>
                              {% endwith %} 
                            </div>
                          {% endif %}
                      </div>
                    {% endif %}
                </div>
              {% endif %}
          </div>
        </div>
      </div>
      {% endif %}   
    </div>

    {% if carousel_articles and carousel_plots %} 
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- Workaround for Plotly responsive scaling -->
      <script> 
        var plots = document.getElementById("plots");
        var articles = document.getElementById("articles");
        articles.classList.add("active");
        plots.classList.remove("active");
      </script>
    {% endif %}
  </div>
 