<div class="card sticky-top">
    <div class="card-body p-0 mt-0">
        <div class="title-wrap  mb-0">
            <div class="btn-group btn-group d-flex mb-0">
                <button type="button" class="btn btn-outline-deep-orange btn-block m-0 border-0" id="expandCollapseSwitch">Collapse All</button>
                <button type="button" class="btn btn-outline-deep-orange btn-block m-0 border-0" id="resultsShowSwitch">Hide Plots</button>
            </div>   
        </div>

    </div>
</div>