<div class="card mb-4">
    <div class="card-body p-0">
        <div class="title-wrap title-wrap--line">
            <h5 class="section-title">Follow us</h5>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-auto m-auto">
                <a href="https://twitter.com/LinuxPolls" class="fa fa-twitter social-follow-button" target="_blank" title="Follow us on Twitter"></a>

            </div>
            <div class="col-auto m-auto">
                <a href="https://www.facebook.com/linuxpolls" class="fa fa-facebook social-follow-button" target="_blank" title="Follow us on Facebook"></a>

            </div>
            <div class="col-auto m-auto">
                <a href="https://reddit.com/r/linuxpolls" class="fa fa-reddit social-follow-button" target="_blank" title="Follow us on Reddit"></a>

            </div>
        </div>
        
    </div>
</div>

