{% load static %}

     <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark lp-main-color p-0" id="mainNav">
            <div class="container-page py-2">
                
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logo-with-text.svg' %}" height="40" alt="LinuxPolls" title="LinuxPolls">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">


                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item my-auto">
                            <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
                        </li> -->
                        <form class="form-inline" method="get" action="{% url 'search' %}">
                            <div class="input-group">
                            <input class="form-control lp-form-control font-weight-slightly-bold" name="s" type="search" autocomplete="off" placeholder="Search" aria-label="Search" >
                            <button class="lp-btn-search p-0 ml-0 mr-2" type="submit">
                                  <i class="fa fa-search" ></i>
                            </button>
                        </div>
                        </form>

                        <li class="nav-item my-auto">
                            <a class="nav-link font-weight-slightly-bold" href="{% url 'articles_list' %}">Articles</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link font-weight-slightly-bold" href="{% url 'polls:index' %}">Polls</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link font-weight-slightly-bold" href="{% url 'about' %}">About</a>
                        </li>
                    </ul>
 
                    

                
                    
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
