{% load static %}

     <!-- Navigation -->
        <nav class="navbar navbar-expand-sm navbar-dark deep-orange py-2" id="mainNav">
            <div class="container-page">
                <img src="{% static 'img/TuxFlat.svg' %}" width="25" height="25" alt="LinuxPolls">
                <a class="navbar-brand font-weight-normal" href="{% url 'home' %}">LinuxPolls</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-normal" href="{% url 'articles_list' %}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-normal" href="{% url 'polls:detail' 1 %}">Polls</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-normal" href="{% url 'about' %}">About</a>
                        </li>
                        <form class="form-inline my-2 mx-2 my-lg-0" method="get" action="{% url 'search' %}">
                            <input class="form-control mr-sm-1 box-search" name="s" type="search" placeholder="Search" aria-label="Search" >
                            <button class="btn-search " type="submit">
                                  <i class="fa fa-search" ></i>
                            </button>
                        </form>

                
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
