{% if page_obj.has_other_pages %}
    <!-- <nav aria-label="Page navigation container"></nav> -->
        <ul class="pagination justify-content-center">    
            {% if page_obj.has_previous %}
                {% if search_terms %}
                    <li class="page-item"><a href="?s={{search_terms}}&page=1" class="page-link lp-pagination-link">&laquo; </a></li>
                    <li class="page-item"><a href="?s={{search_terms}}&page={{ page_obj.previous_page_number }}" class="page-link lp-pagination-link">{{ page_obj.previous_page_number }}</a></li>
                {% else %}
                    <li class="page-item"><a href="?page=1#articles" class="page-link lp-pagination-link">&laquo; </a></li>
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}#articles" class="page-link lp-pagination-link">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}    
            {% endif %}
                {% if search_terms %}
                    <li class="page-item active"><a href="?s={{search_terms}}&page={{ page_obj.number }}" class="page-link lp-pagination-link">{{ page_obj.number }}</a></li>
                {% else %}    
                    <li class="page-item active"><a href="?page={{ page_obj.number }}#articles" class="page-link lp-pagination-link">{{ page_obj.number }}</a></li>
                {% endif %}    
            {% if page_obj.has_next %}
                {% if search_terms %}
                    <li class="page-item"><a href="?s={{search_terms}}&page={{ page_obj.next_page_number }}" class="page-link lp-pagination-link">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a href="?s={{search_terms}}&page={{ page_obj.paginator.num_pages }}" class="page-link lp-pagination-link">&raquo;</a></li>
                {% else %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}#articles" class="page-link lp-pagination-link">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}#articles" class="page-link lp-pagination-link">&raquo;</a></li>
                {% endif %}    
            {% endif %}
        </ul>
    
{% endif %}