
<form action="{% url 'polls:vote' question.id %}" method="post" id="form{{question.id}}">
    {% csrf_token %}
    <div class="row mx-0">
        <div class="col-md-8 mb-3">
            <select id="choice" name="choice" class="form-control selectpicker" data-live-search="true"
                data-style="btn-outline-grey border-1 my-0 mx-0 px-4">
                <option value="" selected disabled>Please select an option</option>
                {% for choice in question.choice_set.all %}
                <option id="choice{{ forloop.counter }}" value="{{ choice.id }}">{{ choice.choice_text }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4 pb-3 d-flex justify-content-center">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary js-vote m-0 ml-3"
                    id="vote{{ question.id }}" data-catid="{{ question.id }}">Vote</button>
            </div>
        </div>
    </div>
</form>