{% block sidebar %}

<!-- Sidebar Widgets Column -->

    <div class="card sticky-top sidebar-top-position">
        <div class="card-body p-0">
            <!-- <h5 class="title-wrap section-title"><a>Latest Polls</a></h5> -->
            <div class="title-wrap title-wrap--line">
                <h5 class="section-title">Latest polls</h5>
                <a href="{% url  'polls:detail' 1 %}" class="all-posts-url">View All</a>
            </div>
            <p class="card-text">
                {% if latest_question_list %}
                <ul class="list-unstyled components mb-3 pl-2">
                {% for question in latest_question_list %}
                <li class="mb-2">
                <a href="{% url 'polls:detail' question.id %}" class="title-link">{{ question.question_text }}</a>
                  </li>
                {% endfor %}
                   </ul>
                {% else %}
                <p>No polls are available.</p>
                {% endif %}
            </p>
        </div>
    </div>
<!-- /Sidebar Widgets Column -->
    
{% endblock sidebar %}