{% extends 'base.html' %} 
{% load static %}
{% block content %}



<div class="row">
  <div class="col">
    <!-- Title -->
    <h2 class="mt-4 mb-3 font-weight-slightly-bold ">{{ post.title }}</h2>
    <p class="lead">{{ post.summary }}</p>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="row m-0 p-0">
      <div class="col-auto mr-auto m-0 p-0">
        <p class="card-text text-muted mb-3">{{ post.created_on|date:"D d M Y" }}</p>
      </div>
      <div class="col-auto m-0 p-0 ">
        {% if post.updated_on.date != post.created_on.date %}
        <p class="card-text text-muted mb-3">updated {{ post.updated_on|timesince }} ago </p>
        {% endif %}
      </div>    
  </div>
</div>
</div>

  <div class="row">
     <!-- Post Content Column -->
     <div class="col-md-9"> 
      <!-- Preview Image -->
      {% if post.image %}
        <img class="img-fluid mb-3" src="{{post.image.url}}" alt="">
      {% endif %}
      <div class="row m-0 p-0">
        <div class="col-auto mr-auto m-0 p-0">
          {% include 'widgets/social_share_buttons.html' %}
        </div>
        {% if post.enable_comments %}
          <div class="col-auto m-0 p-0 ">
            <a href="#comments" class="fa fa-comments lp-social-button lp-go2comments-button px-2" title="View Comments">
              <span class="ml-2" data-talk-id="post.{{post.id}}" data-talk-mode="number"></span>
            </a>
          </div>
        {% endif %}
      </div>
      
      <hr>
      <!-- Post Content -->
      {{ post.content | safe }}
      <hr>

    </div>

    <div class="col-md-3 float-right">
      {% include 'widgets/sidebar.html' %}
    </div>

    {% if post.enable_comments %}
    <!-- Comments -->
    <div id="comments" class="col-md-9 card mb-4 mt-3" style="padding: 0 5px">
      <div id="hyvor-talk-view"></div>
    </div>
    <!-- Comments -->
    {% endif %}
  </div>
<!-- </div> -->

{% if post.enable_comments %}
  <script type="text/javascript">
    var HYVOR_TALK_CONFIG = {
      url: "{{ request.scheme }}://{{ request.get_host }}{% url 'post_detail' post.slug  %}",
      id: "post.{{post.id}}",
      title: "{{post.title}}",
      loadMode: "scroll"
    };
  </script>
  <script src="{% static 'js/hyvortalk/websiteID.js' %}"></script>
  <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
  <script async type="text/javascript" src="//talk.hyvor.com/web-api/count/"></script>
  {% endif %}
{% endblock content %}
