{% extends 'base.html' %} 
{% load static %}
{% block content %}


<div class="row">
  <div class="col">
    <!-- Title -->
    <h2 class="mt-4 mb-3 font-weight-slightly-bold ">{{ post.title }}</h2>
    <p class="lead">{{ post.summary }}</p>
    <hr>
    <!-- Date -->
    <!-- <p class="card-text text-muted mb-4">{{ post.created_on.date|date:"D d M Y" }}, updated {{ post.updated_on|timesince }} ago </p> -->
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="row m-0 p-0">
      <div class="col-auto mr-auto m-0 p-0">
        <p class="card-text text-muted mb-3">{{ post.created_on|date:"D d M Y" }}</p>
      </div>
      <div class="col-auto m-0 p-0 ">
        {% if post.updated_on.date != post.created_on.date %}
        <p class="card-text text-muted mb-3">updated {{ post.updated_on|timesince }} ago </p>
        {% endif %}
      </div>    
  </div>
</div>
</div>

  <div class="row">
     <!-- Post Content Column -->
     <div class="col-md-9"> 
      <!-- Preview Image -->
      {% if post.image %}
        <img class="img-fluid mb-3" src="{{post.image.url}}" alt="">
      {% endif %}
      <div class="row m-0 p-0">
        <div class="col-auto mr-auto m-0 p-0">
          {% include 'widgets/social_share_buttons.html' %}
        </div>
        <div class="col-auto m-0 p-0 ">
          <a href="#comments" class="fa fa-comments lp-social-button lp-go2comments-button px-2" title="View Comments"><span class="ml-2">{{ comments.count }}</span></a>
        </div>
      </div>
      
      <hr>
      <!-- Post Content -->
      {{ post.content | safe }}
      <hr>

    </div>
    <!-- <div class="col-md-9 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
     -->
    <div class="col-md-3 float-right">
      {% include 'widgets/sidebar.html' %}
    </div>

    <div id="comments" class="col-md-9 card mb-4  mt-3 ">
      Comments placeholder
    </div>









    <!-- Comments -->


  </div>
<!-- </div> -->

{% endblock content %}
