{% extends "base.html" %} 

{% block content %}

<!-- Articles container -->
<!-- <div class="container"> -->
    <div class="row">
      <div id="articles" class="col-md-9 left">
        <div class="title-wrap lp-title-wrap--line ">
          <h4 class="lp-section-title">Articles</h4>          
        </div>
        {% include 'articles/list.html' %} 
      </div>

      <div class="col-md-3 float-right">
        {% include 'widgets/sidebar.html' %} 
      </div>
    </div>
<!-- </div> -->
<!-- /Articles container -->

{% endblock content %}