{% extends "base.html" %} 

{% block content %}

<!-- Articles container -->
<!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-9 left">
        {% if not search_terms %}
            <div class="title-wrap lp-title-wrap--line">
                <h4 class="lp-section-title">Search for articles</strong></h4>
            </div>
        {% else %}
            {% if post_list %}
                {% if search_terms %}
                    <div class="title-wrap lp-title-wrap--line">
                        <h4 class="lp-section-title">Search results for: <span class="lp-section-title-secondary">{{search_terms}}</span></h4>
                    </div>
                {% endif %}
                {% include 'articles/list.html' %}
            {% else %}
                    <div class="title-wrap lp-title-wrap--line">
                        <h4 class="lp-section-title">No results found for: <span class="lp-section-title-secondary">{{search_terms}}</span></h4>
                    </div>              
            {% endif %}
        {% endif %}
      </div>

      <div class="col-md-3 float-right">
        {% include 'widgets/sidebar.html' %} 
      </div>
    </div>
<!-- </div> -->
<!-- /Articles container -->

{% endblock content %}